@page
@model Forte.Weather.Client.Pages.ForecastModel
@{
    ViewData["Title"] = "Forecast page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom:10%">Watch the forecast for 2050</h1>

    <div>
        <iframe width="900" height="506" src="https://www.youtube.com/embed/3FOyzK33L0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>

    </div>