@page
@model IndexModel
@{
    ViewData["Title"] = "Recommendation page";
}


<div class="text-center">
    <h1 class="display-4" style="margin-bottom:10%">Get recommendations</h1>
    @*<a id="getstuff" class="btn btn-sm btn-primary"> Get recommendation </a>
    <p id="text1" style="visibility: hidden">Recommended location today: </p>
    <p id="text2" style="visibility: hidden"/>*@


<form method="post" id="recommendation-form">
    <div class="row">
    @foreach (var activity in Model.Activities)
    {
        <div class="col">
        <div class="button">
            <label for="@activity">
                <input type="radio" asp-for="Activity" id="@activity" value="@activity" style="margin-right:5%;margin-bottom:10%;vertical-align: baseline"/>@activity<br/>
                <img src="~/images/@(activity).png" width="150" height="180" id="image-@activity">
            </label>
        </div>
        </div>
    }
        </div>
</form>
<row>
    <button class="btn btn-primary" type="submit" form="recommendation-form" value="Submit" style="margin-top:5%">Get recommendation</button>
</row>

</div>
@section scripts{
    <script>
        document.getElementById('getstuff').addEventListener('click', () => {
            $.ajax({
              url: "https://localhost:7179/api/weather/locations/recommended",
              success: (response) => {
                  console.log(response);
                  document.getElementById('text1').style.visibility = "visible";
                  var text2 = document.getElementById('text2');
                  text2.style.visibility = "visible";
                  text2.innerHTML = response.name;
              }
            });
            console.log("Test1");
        });
    </script>
}
