@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Recommendation page";
}


<div class="text-center">
    <h1 class="display-4">Get recommendations</h1>
    <a id="getstuff" class="btn btn-sm btn-primary"> Get recommendation </a>

    <p id="text1" style="visibility: hidden">Recommended location today: </p>
    <p id="text2" style="visibility: hidden"/>
</div>

<form id="recommendation-form">
    @foreach (var activity in Model.Activities)
    {
        <input type="radio" name="activity" asp-for="Activity" value="@activity" />@activity<br />
    }
</form>
<button class="btn btn-primary recommmendations" type="button" form="recommendation-form">Get recommendation</button>

<div class="recommendation"></div>



@section scripts{
    <script>
        document.getElementById('getstuff').addEventListener('click', () => {
            $.ajax({
              url: "https://localhost:7179/api/weather/locations/recommended",
              success: (response) => {
                  console.log(response);
                  document.getElementById('text1').style.visibility = "visible";
                  var text2 = document.getElementById('text2');
                  text2.style.visibility = "visible";
                  text2.innerHTML = response.name;
              }
            });
            console.log("Test1");
        });
    </script>

   <script>
        $(function () {
            $('button.recommmendations').on('click', function () {
                $('.recommendation').load(`/Index/RecommendedLocation?choice=${$('input[name="activity"]:checked').val()}`);
            });
        });
    </script>
}
